<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <.live_component
    module={PulseVoteWeb.PollLive.FormComponent}
    id={:new}
    title="Create New Poll"
    action={@live_action}
    poll={@poll}
    patch={~p"/polls"}
    current_user={@current_user}
  />
</div>